*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.info-container {
    font-size: 3rem;
    text-align: center;
    font-weight:500;
    color: #646cffaa;
    margin:2rem;
    padding:2rem;
    font-family: 'Poppins', Times, serif;
    display: flex;
    gap:1rem;
}

.btn1{
    all:unset;
    font-size: 1rem;
    color:#fff;
    padding: 10px 6px;
    border: 1px solid #646cffaa;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
.btn1:hover{
    background-color: #383636;
}

.heading{
    font-size: 2rem;
    text-align: center;
    font-weight:500;
    color: #9278f0aa;

    font-family: 'Poppins', Times, serif;
    display: flex;
    gap:1rem;
}

.btn-div{
    display: flex;
    justify-content: center;
    gap:1rem;
}